# Ignored files
.tmp/
.env
token.json
credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# OS / Editor
.DS_Store
.vscode/
.claude/
.idea/
